$lightblue: lightblue;

@mixin common-base {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 60px;
    z-index: -9;
    background: $lightblue;
    transition: all .3s;
}

html,body{
    font-family: "Microsoft Yahei";
}
#wrap{
    position: relative;
}
.btn{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    outline: none;
    border: none;
    margin: 40px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid lightgray;
}

/* Fall */
.btn-fall::before{
    @include common-base;
    transform: scaleY(0);
    transform-origin: 50% 0;

}
.btn-fall:hover::before{
    transform: scaleY(1);
}

/* Rise */
.btn-rise::before{
    @include common-base;
    transform: scaleY(0);
    transform-origin: 50% 100%;
}
.btn-rise:hover::before{
    transform: scale(1);
}

/* Forward */
.btn-forward::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
.btn-forward:hover::before{
    transform: scaleX(1);
}

/* Backward */
.btn-backward::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 100% 50%;
}
.btn-backward:hover::before{
    transform: scaleX(1);
}

/* Line Top */
.btn-line-top::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 0 0;
}
.btn-line-top:hover::before{
    transform: scaleX(1);
}

/* Line Bottom */
.btn-line-bottom::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 0 100%;
}
.btn-line-bottom:hover::before{
    transform: scaleX(1);
}

/* Top Bottom */
.btn-top-bottom::before{
    @include common-base;
    transform: scaleY(0);
    transform-origin: 50% 0;
}
.btn-top-bottom::after{
    @include common-base;
    transform: scaleY(0);
    transform-origin: 50% 100%;
}
.btn-top-bottom:hover::before{
    transform: scaleY(.5);
}
.btn-top-bottom:hover::after{
    transform: scaleY(.5);
}

/* Left Right */
.btn-left-right::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
.btn-left-right::after{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 100% 50%;
}
.btn-left-right:hover::before{
    transform: scaleX(.5);
}
.btn-left-right:hover::after{
    transform: scaleX(.5);
}

/* Middle To Top and Bottom */
.btn-middle-to-top-bottom::before{
    @include common-base;
    transform: scaleY(0);
    transform-origin: 50% 50%;
}
.btn-middle-to-top-bottom:hover::before{
    transform: scaleY(1);
}

/* Middle To Left Right */
.btn-middle-to-left-right::before{
    @include common-base;
    transform: scaleX(0);
    transform-origin: 50% 50%;
}
.btn-middle-to-left-right:hover::before{
    transform: scaleX(1);
}

/* Rectangle */
.btn-rectangle::before{
    @include common-base;
    transform: scale(0);
    transform-origin: 50% 50%;
}
.btn-rectangle:hover::before{
    transform: scale(1);
}

/* Loop Fade */
.btn-loop-fade:hover{
    animation: loopFade 2s infinite linear;
}
@keyframes loopFade{
    50% {opacity: .1;}
}

/* border Radius */
.btn-border-radius{
    transition: all .3s;
}
.btn-border-radius:hover{
    border-radius: 10px;
}

/* Shake Left */